<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.view.asim"
    android:versionCode="1"
    android:versionName="0.6.28" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />
    <!-- 访问Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- - 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取本机号码权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- USB Host 权限 -->
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 修改系统声音模式权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 调用系统弹出窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
	<uses-feature android:name="android.hardware.location" android:required="false"/>
	<uses-feature android:name="android.hardware.location.gps" android:required="false"/>
	<uses-feature android:name="android.hardware.telephony" android:required="false"/>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
	<uses-feature android:name="android.hardware.wifi" android:required="false"/>
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
	<uses-permission android:name="android.permission.CAMERA"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE" ></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" ></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH" ></uses-permission>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" ></uses-permission>
	<uses-permission android:name="android.permission.BROADCAST_STICKY" ></uses-permission>
	<uses-permission android:name="android.permission.READ_CALL_LOG"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CALL_LOG"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"></uses-permission>

    <application
        android:name="com.view.asim.activity.AsimApplication"
        android:icon="@drawable/ic_group_mainpage_chat_nor"
        android:label="@string/app_name"
        android:largeHeap="true" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.view.asim.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
 		    <intent-filter>
            	<action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            	<action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
        	</intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
               android:resource="@xml/device_filter" />
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"
               android:resource="@xml/device_filter" />
            -->
        </activity>
        <!-- 登录界面 -->
        <activity
            android:name="com.view.asim.activity.LoginActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 注册界面 -->
        <activity
            android:name="com.view.asim.activity.SignUpActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 添加密友界面 -->
        <activity
            android:name="com.view.asim.activity.im.AddUserMainActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 密友推荐界面 -->
        <activity
            android:name="com.view.asim.activity.im.UserNoticeActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 通讯录好友界面 -->
        <activity
            android:name="com.view.asim.activity.im.AddUserContactsActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>

        <!-- 个人信息修改界面 -->
        <activity
            android:name="com.view.asim.activity.im.UserInfoModActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 头像查看界面 -->
        <activity
            android:name="com.view.asim.activity.im.UserAvatarActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>

        <!-- 设置界面 -->
        <activity
            android:name="com.view.asim.activity.im.SettingsActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>

        <!-- 选择联系人界面 -->
        <activity
            android:name="com.view.asim.activity.im.GroupAddUserActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>

        <!-- 用户信息 -->
        <activity
            android:name="com.view.asim.activity.im.UserInfoActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 聊天 -->
        <activity
            android:name="com.view.asim.activity.im.ChatActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>
        <!-- 预览界面 -->
        <activity
            android:name="com.view.asim.activity.im.ImagePreviewActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified" >
        </activity>

        <!-- 阅后即焚预览界面 -->
        <activity
            android:name="com.view.asim.activity.im.BurnMsgViewActivity"
            android:launchMode="standard"
            android:screenOrientation="unspecified"
            android:theme="@style/Translucent_NoTitle" >
        </activity>

        <!-- 联系人列表 -->
        <activity
            android:name="com.view.asim.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" >
        </activity>
        <activity
            android:name="org.sipdroid.sipua.ui.Activity2"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:taskAffinity="" />
        <activity
            android:name="org.sipdroid.sipua.ui.InCallScreen"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:taskAffinity="" />

        <receiver android:name="org.sipdroid.sipua.ui.OneShotAlarm" />
        <receiver android:name="org.sipdroid.sipua.ui.OneShotAlarm2" />
        <receiver android:name="org.sipdroid.sipua.ui.LoopAlarm" />
        <receiver android:name="org.sipdroid.sipua.ui.OwnWifi" />
        <receiver android:name="org.sipdroid.sipua.ui.OneShotLocation" />
        <receiver android:name="org.sipdroid.sipua.ui.LoopLocation" />
        <receiver
            android:name="org.sipdroid.sipua.ui.Receiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
                <data android:path="org.sipdroid.sipua" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.sipdroid.sipua.ui.PhoneStart" >
            <intent-filter>
                <action android:name="org.sipdroid.START_SIPDROID" />
                <action android:name="org.sipdroid.STOP_SIPDROID" />
            </intent-filter>
        </receiver>

        <service android:name="org.sipdroid.sipua.ui.RegisterService" />

        <!-- 联系人服务 -->
        <service android:name="com.view.asim.service.IMContactService" >
        </service>
        <!-- 聊天服务 -->
        <service android:name="com.view.asim.service.IMChatService" >
        </service>
        <!-- 系统消息服务 -->
        <service android:name="com.view.asim.service.IMSystemMsgService" >
        </service>
        <!-- 重连接服务 -->
        <service android:name="com.view.asim.service.ConnectService" >
        </service>
        <!-- 安司盾服务 -->
        <service android:name="com.view.asim.service.AUKeyService" >
        </service>
        <!-- OTA服务 -->
        <service android:name="com.view.asim.service.OTAService" >
        </service>
    </application>
    <!-- 启动测试器 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for pysfclient"
        android:targetPackage="com.view.asim" />

</manifest>